.tarjeta{
    border-style: solid;
    border-radius: 10xp;
    border-color: goldenrod;
    border-width: 2xp;
    color: white;


    width: 50%;

    margin: 25xp auto 25xp;

    padding: 10xp;

    text-align: center;

    box-sizing: border-box;
}
h1{
    color: white;
}
body{
    background-color: black;
}

img{
    width: 75%;
}